.index-main-nav {
    padding: var(--space-sm) var(--space-md)
}

.main-content--index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.index-main__description {
    font-size: var(--text-lg);
    text-align: center;
    color: var(--color-black);
}

.index-main__description--push-top {
    margin-top: var(--space-lg);
}

@media (max-width: 575px) {
    .index-main-nav {
        font-size: var(--text-lg);;
        display: flex;
    }
}
