.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-xs) 0;
    color: var(--color-black);
}

.project-header__message {
    flex-grow: 1;
}

.project-header__message--show {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-success);
    color: var(--color-white);
    text-align: center;
    padding: var(--space-md) var(--space-sm);
    border-radius: var(--radius-sm);
    margin: 0 var(--space-sm);
}

.project-header__message--failure {
    background-color: var(--color-error);
}

.project-header__message--fixed {
    position: fixed;
    left: 0;
    right: 0;
}

.project-header__message--error {
    background-color: var(--color-error);
    color: var(--color-white);
}

.project-header__message--success {
    background-color: var(--color-success);
}

.project-header__message--error, .project-header__message--success {
    border: 1px solid var(--color-primary-darker);
}

.project-header__nav {
    min-width: 20%;
    margin-right: auto;
    padding: var(--space-xs) var(--space-sm);
}

.project-header__nav-list {
    display: flex;
    justify-content: right;
    gap: var(--space-md);
}

.project-container {
    display: flex;
    justify-content: space-between;
    gap: var(--space-sm);
    padding: var(--space-xs) var(--space-sm);
    max-width: 100vw;
    color: var(--bilara-secondary-background-color);
}

.project-container__content {
    flex: auto;
}

.project-container__content-details {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.project-container__content-header {
    position: sticky;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    color: var(--color-white);
    padding: 0 var(--space-sm);
    font-size: var(--text-sm);
    font-weight: 600;
    margin-bottom: var(--space-sm);
    background-color: var(--color-accent);
    margin-top: 0;

    & .draggable-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-xxs);
        cursor: move;
    }
}

.project-container__content-body {
    display: grid;
    align-content: start;
}

.project-container__content-body__text-uid {
    font-size: var(--text-xs);
    padding-left: 2px;
}

.project-header__nav-button {
    font-size: var(--text-xs);
}

.project-container__content-body__text--hide {
    visibility: hidden;
}

.project-container__content-body__textarea {
    height: 48px;
    width: 100%;
    min-height: 24px;
    resize: none;
    white-space: pre-wrap;
    background-color: var(--color-primary-lighter);
    border: none;
    cursor: pointer;
    field-sizing: content;
}

.project-container__content-body__textarea:focus {
    outline: 1px solid var(--color-primary-darker);
    border-radius: var(--radius-xxs);
    box-shadow: var(--shadow-sm);
}

.project-container__content-body__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
    color: var(--color-secondary-text);
    margin: -3px 0 -3px 0;
    font-variant-caps: all-small-caps;

}

.project-container__content-body__hints {
    /* position: absolute; */
    width: -moz-available;
    width: -webkit-fill-available;
}

.project-container__content-body__hints-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-sm);
    gap: var(--space-sm);
    background-color: var(--color-primary-lighter);
}

.project-container__content-body__hints-list-item {
    width: 75%;
    box-shadow: var(--shadow-xs);
    cursor: pointer;
    border: 1px solid var(--color-accent);
    border-radius: var(--radius-sm);
    padding: var(--space-xs) var(--space-sm);
    color: var(--sl-color-gray-800);
}

.project-container__content-body__hints-list-item__uid, .project-container__content-body__hints-list-item__info-translation__strength {
    color: var(--color-secondary-text);
    font-size: var(--text-xs);
}

.project-container__content-body__hints-list-item__info-source {

}

.project-container__content-body__hints-list-item__info-translation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-container__content-body__hints-list-item__info-source, .project-container__content-body__hints-list-item__info-translation__text {
    line-height: var(--body-line-height);
}

.project-container__content-body__hints-list-item__info-translation__text {
    font-family: var(--font-serif);
}

.project-container__content-body__hints-list-item__info-translation__strength {
    font-size: var(--text-xs);
    align-self: flex-end;
}


.project-container__content-footer {
    margin: var(--space-md) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}

.project-container__detail-panel__related{
        border: 1px solid var(--color-primary);
        border-radius: var(--radius-sm);
        box-shadow: var(--shadow-sm);
        font-weight: 500;
        text-align: center;
        position: absolute;
        right: 0px;
        width: max-content;
        background-color: var(--bilara-primary-color);
        overflow: hidden;
}


.project-container__detail-panel__search{
   text-align: left;
}

.project-container__detail-panel {
    background-color: var(--color-primary-lighter);
    position: relative;

    & .active {

        & .project-container__detail-panel__related-item {
            
            padding: var(--space-xs) var(--space-sm);
            margin: var(--space-xs) 0;
            cursor: pointer;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        & .project-container__detail-panel__related-item:hover {
            background-color: var(--color-cta);
        }

        & .project-container__detail-panel__related-item--selected {
            background-color: var(--color-primary-dark);
        }

        & .project-container__detail-panel__related-item:hover, & .project-container__detail-panel__related-item--selected {
            color: var(--color-white);
        }
    }
}

.dragging {
    opacity: .5;
}

.border-effect {
    border: 1px solid var(--color-primary-darker);
    box-shadow: var(--shadow-md);
}


.project-container__content-body__textarea-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-container__content-body__textarea-container textarea {
    margin-right: 2px;
    font-family: var(--font-sans);
}

sl-split-panel {
    --divider-width: 3px;
    --min: 250px;
    --max: calc(100% - 250px);
}

sl-split-panel::part(divider) {
    background-color: var(--color-primary-light);
}

sl-split-panel i {
    position: absolute;
    border-radius: var(--radius-small);
    background: var(--color-primary-light);
    padding: 0.5rem 0.125rem;
}

sl-dialog::part(panel) {
    background-color: var(--color-primary-lighter);
}

sl-dialog::part(header) {
    background-color: var(--color-primary-lighter);
    border-bottom: 1px solid var(--color-primary-dark);
}

sl-dialog::part(title) {
    font-size: var(--text-l);
    color: var(--color-black);
}

.dialog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-sm);
}