@import "spacing.css";

:root {
    --btn-font-size: .833333333rem;
    --btn-scale-ratio: 1.2;
    --btn-sm: calc((var(--btn-font-size) / var(--btn-scale-ratio));
    --btn-md: calc(var(--btn-font-size));
    --btn-lg: calc(var(--btn-font-size) * var(--btn-scale-ratio));
}
