:root {
    --color-white: #FBF6EF;
    --color-black: #2C2B2B;
    --color-shadow: #00000033;
    --color-backdrop: #2C2B2BAD;
    
    --color-disabled: #E0E0E0;
    --color-focus-ring: rgba(139, 105, 20, 0.1);
    --color-border-subtle: rgba(0, 0, 0, 0.04);
    
    --color-cta: #E84A5F;
    --color-cta-dark: #B23540;
    --color-cta-light: #EA7582;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}