@font-face {
    font-family: 'Source Sans VF';
    src: url('/static/fonts/SourceSans3VF-Upright.otf.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans VF';
    src: url('/static/fonts/SourceSans3VF-Italic.otf.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif VF';
    src: url('/static/fonts/SourceSerif4Variable-Roman.otf.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif VF';
    src: url('/static/fonts/SourceSerif4Variable-Italic.otf.woff2') format('woff2-variations');
    font-weight: 100 1000;
    font-style: italic;
    font-display: swap;
}

.font-source-sans {
    font-family: var(--font-sans);
}

.font-source-serif {
    font-family: var(--font-serif);
}