:root {
    --space-unit: 1rem;
    --space-xxs: calc(0.2963 * var(--space-unit));
    --space-xs: calc(0.4444 * var(--space-unit));
    --space-sm: calc(0.6667 * var(--space-unit));
    --space-md: calc(1 * var(--space-unit));
    --space-lg: calc(1.5 * var(--space-unit));
    --space-xl: calc(2.25 * var(--space-unit));
    --space-xxl: calc(3.375 * var(--space-unit));

    --radius-xxs: var(--space-xxs);
    --radius-xs: var(--space-xs);
    --radius-sm: var(--space-sm);
    --radius-md: var(--space-md);
    --radius-lg: var(--space-lg);
    --radius-xl: var(--space-xl);
    --radius-xxl: var(--space-xxl);
}