.main-content{
    flex-grow: 1;
    background-color: var(--color-background-tertiary);
}

#how-to-details{
    margin: var(--space-sm);
}

#how-to-details summary{
    font-weight: var(--font-weight-medium);
    font-style: italic;
    font-family: var(--font-serif);
}

#how-to-details  div{
    margin-top: var(--space-md);
    padding: var(--space-sm);
}

#how-to-details p,
#how-to-details ul,
#how-to-details ol {
    margin: 0 0 var(--space-md) 0;
}

#how-to-details li{
    margin: 0 0 var(--space-xs) var(--space-md)
}

#how-to-details li li{
    margin: var(--space-md) 0 var(--space-xs) var(--space-md)
}

#how-to-details ol {
    list-style-type: decimal;
}

#how-to-details ul {
    list-style-type: disc;
}

#how-to-details  a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--color-primary);
    color: var(--color-primary);
}

#how-to-details  a:hover {
    text-decoration-style: wavy;
}

#how-to-details  a:active {
    text-decoration-style: wavy;
}

b{
    font-weight: bold;
}

kbd{
    font-family: monospace;
    border: 1px solid var(--color-black);
    padding: .2em .4em;
    border-radius: 4px;
    background-color: #ccc;
}

.menu-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}