.btn {
    padding: var(--space-xxs) var(--space-sm);
    border-radius: var(--radius-sm);
    border: 2px solid transparent;
    font-size: var(--btn-font-size);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    font-weight: var(--font-weight-medium);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    line-height: 1;
    height: var(--text-xxl);
}

.btn:hover {
    border: 2px solid var(--color-secondary);
}

.btn:active {
    border: 2px dashed var(--color-secondary);
}

.btn--main, .btn--admin {
    background-color: var(--color-background-secondary);
}

.btn i {
    font-size: var(--text-md);
    line-height: 0;
}

.main-nav-mobile__burger {
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
}

.main-nav-mobile__burger--line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    transition: all ease-in-out 0.4s;
}

.main-nav-mobile__burger--line:first-of-type {
    top: 0;
}

.main-nav-mobile__burger--line:last-of-type{
    bottom: 0;
}

.btn--publish, .btn--project-publish {
      background-color: var(--color-background-secondary);
}

.btn--search{
    background-color: var(--color-border);

}

.btn--previous {
    background-color: var(--color-primary);
}

.btn--next {
    background-color: var(--color-primary);
}

.btn--split {
    height: fit-content;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.05em;
}

.btn--merge {
    height: fit-content;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.05em;
}

.btn--disabled {
    cursor: not-allowed;
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.btn--cancel {
    background-color: var(--color-secondary);
    margin-left: var(--space-xs);
    margin-right: var(--space-xs);
    height: fit-content;
}

.processing {
    cursor: not-allowed;
}

@media (max-width: 575px) {
    .btn--publish {
        font-size: var(--text-sm);
    }
}