.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: var(--color-backdrop);
    color: var(--color-text-on-strong);
    backdrop-filter: blur(10px);
}
