.user-container {
    display: flex;
    gap: 0;
    align-items: center;
    flex-direction: column;
    max-height: 36px;
}
.user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--color-primary-dark);
    box-shadow: var(--shadow-md);
}

.username-link{ 
    text-decoration: none;
}

 [x-text=username]{
    color: var(--color-white);
    font-style: italic;
    font-size: var(--text-sm);
    font-weight: 600;
    margin-top: -8px;
    text-shadow: var(--shadow-md);
}